<html>
    <!--/Product Details page-->
    <head>
        <title>Smart Boss</title>
        <%- include('./head.ejs') %>
        <%- include('../../resources/functions.ejs') %>
    </head>
    <!--/body-->
    <body>
        <!--/navigation-bars to know more about the company, contact details, cart of the user and the product details of the selected product-->
        <main>
            <h3>Hours</h3>
            <% const days = ["Monday:","Tuesday:","Wednesday:","Thursday:","Friday:","Saturday:","Sunday:"]%>
            <% const dayAvail = ["monAvail","tueAvail", "wedAvail","thAvail", "friAvail","satAvail","sunAvail"]; %>
                <% for(var i = 0; i < 7; i++) {%>
                <%var day = dayAvail[i]%>
                        <label for="<% dayAvail[i] %>Start ">
                            <span><%- days[i]%></span>
                            <%const val = selectedFormat(employee[dayAvail[i]])%>
                            <select  id="<%- dayAvail[i]%>HoursStart" name='<%- dayAvail[i]%>HoursStart' >
                                <option value="0" <%= (val[0] == 0)?'selected':'' %>>12</option>
                                <option value="100" <%= (val[0] == 100)?'selected':'' %>>1</option>
                                <option value="200" <%= (val[0] == 200)?'selected':'' %>>2</option>
                                <option value="300" <%= (val[0] == 300)?'selected':'' %>>3</option>
                                <option value="400" <%= (val[0] == 400)?'selected':'' %>>4</option>
                                <option value="500" <%= (val[0] == 500)?'selected':'' %>>5</option>
                                <option value="600" <%= (val[0] == 600)?'selected':'' %>>6</option>
                                <option value="700" <%= (val[0] == 700)?'selected':'' %>>7</option>
                                <option value="800" <%= (val[0] == 800)?'selected':'' %>>8</option>
                                <option value="900" <%= (val[0] == 900)?'selected':'' %>>9</option>
                                <option value="1000" <%= (val[0] == 1000)?'selected':'' %>>10</option>
                                <option value="1100" <%= (val[0] == 1100)?'selected':'' %>>11</option>
                            </select>
                            <span>:</span>
                            <select id="<%- dayAvail[i]%>MinutesStart" name="<%- dayAvail[i]%>MinutesStart">
                                <option value="0" <%= (val[1] == 0)?'selected':'' %>>00</option>
                                <option value="25" <%= (val[1] == 25)?'selected':'' %>>15</option>
                                <option value="50" <%= (val[1] == 50)?'selected':'' %>>30</option>
                                <option value="75" <%= (val[1] == 75)?'selected':'' %>>45</option>
                            </select>
                            <select id="<%- dayAvail[i]%>HalfStart" name="<%- dayAvail[i]%>HalfStart">
                                <option value="0" <%= (val[2] == 0)?'selected':'' %>>AM</option>
                                <option value="1200" <%= (val[2] == 1200)?'selected':'' %>>PM</option>
                            </select>
                            <span> TO </span>
                            <label for="<%- dayAvail[i]%>End">
                            <select id="<%- dayAvail[i]%>HoursEnd" name="<%- dayAvail[i]%>HoursEnd">
                                <option value="0" <%= (val[3] == 0)?'selected':'' %>>12</option>
                                <option value="100" <%= (val[3] == 100)?'selected':'' %>>1</option>
                                <option value="200" <%= (val[3] == 200)?'selected':'' %>>2</option>
                                <option value="300" <%= (val[3] == 300)?'selected':'' %>>3</option>
                                <option value="400" <%= (val[3] == 400)?'selected':'' %>>4</option>
                                <option value="500" <%= (val[3] == 500)?'selected':'' %>>5</option>
                                <option value="600" <%= (val[3] == 600)?'selected':'' %>>6</option>
                                <option value="700" <%= (val[3] == 700)?'selected':'' %>>7</option>
                                <option value="800" <%= (val[3] == 800)?'selected':'' %>>8</option>
                                <option value="900" <%= (val[3] == 900)?'selected':'' %>>9</option>
                                <option value="1000" <%= (val[3] == 1000)?'selected':'' %>>10</option>
                                <option value="1100" <%= (val[3] == 1100)?'selected':'' %>>11</option>
                            </select>
                            <span>:</span>
                            <select id="<%- dayAvail[i]%>MinutesEnd"  name="<%- dayAvail[i]%>MinutesEnd">
                                <option value="0" <%= (val[4] == 0)?'selected':'' %>>00</option>
                                <option value="25" <%= (val[4] == 25)?'selected':'' %>>15</option>
                                <option value="50" <%= (val[4] == 50)?'selected':'' %>>30</option>
                                <option value="75" <%= (val[4] == 75)?'selected':'' %>>45</option>
                            </select>
                            <select id="<%- dayAvail[i]%>HalfEnd" name="<%- dayAvail[i]%>HalfEnd">
                                <option value="0" <%= (val[5] == 0)?'selected':'' %>>AM</option>
                                <option value="1200" <%= (val[5] == 1200)?'selected':'' %>>PM</option>
                            </select>
                        </label>
                    <% } %>
                    <div id='updateAvailability'>
                        <button onclick='updateAvailability()' class="btn btn-lg btn-primary " >Update Availability</button> 
                    </div>
        </main>
        <footer id="footer"></footer>
        </div>
    </body>
</html>
