<html>
    <!--/Product Details page-->
    <head>
        <title>Smart Boss</title>
        <%- include('includes/head.ejs') %>
    </head>
    <!--/body-->
    <body>
        <!--/navigation-bars to know more about the company, contact details, cart of the user and the product details of the selected product-->
        <%- include('includes/nav.ejs') %>

        <main id='profile'>
        <img class="mb-4" src="../resources/1.jpg" alt="" width="72" height="72">
            <h1>Smart Boss</h1>
            <h2>Welcome <%- name %></h2>
            <br />
            <h3>Jobs</h3>
            <% if(numberOfGroups > 0) { %>
            <form action="/<%= type %>/group" method='get'>
                <div class="list-group">
                <% groups.forEach(function(group) { %>
                    <button class='list-group-item list-group-item-action' value="<%= group._id%>" id='groupID' name='groupID'><%= group.name %></button>
                <% }); %>
                </div>
            </form>
             <% } else { %>
            <span>No Jobs currently please create or add a job</span>
            <% } %>
            <h3>Add A Job</h3>
            <% if(type == 'employee') { %>
            <form action="/employee/" method="post">
                <label for="AddGroup">
                    <span>Job Code:</span>
                    <input type="text" id="groupID" name="groupID" />
                    <button>Add Job</button>
                </label>
            </form>
            <% } else { %>
            <form action="/employer/" method="post">
                <label for="createGroup">
                    <span>Job Name:</span>
                    <input type="text" id="name" name="name" />
                    <button>Create Job</button>
                </label>
            </form>
            <% } %> 
            </main>
        <footer id="footer"></footer>
    </body>
</html>
