<html>
    <!--/Product Details page-->
    <head>
        <title>Smart Boss</title>
        <%- include('includes/head.ejs') %>
    </head>
    <!--/body-->
    <body>
        <!--/navigation-bars to know more about the company, contact details, cart of the user and the product details of the selected product-->
        <%- include('includes/nav.ejs') %>
        <main>
            <h3><input type="text" value="<%=skill.name%>" /></h3>
            <label for="description">
                <span>Description:</span>
                <input type="text" value="<%=skill.description%>" />
            </label>
            <form action="">
                <h5>Monday:</h5>
                <%- include('includes/shifts.ejs', {day: 0}) %>
                <h5>Tuesday:</h5>
                <%- include('includes/shifts.ejs', {day: 1}) %>
                <h5>Wednesday:</h5>
                <%- include('includes/shifts.ejs', {day: 2}) %>
                <h5>Thursday:</h5>
                <%- include('includes/shifts.ejs', {day: 3}) %>
                <h5>Friday:</h5>
                <%- include('includes/shifts.ejs', {day: 4}) %>
                <h5>Saturday:</h5>
                <%- include('includes/shifts.ejs', {day: 5}) %>
                <h5>Sunday:</h5>
                <%- include('includes/shifts.ejs', {day: 6}) %>
                <button>Update Skill</button>
            </form>
        </main>
        <footer id="footer"></footer>
    </body>
</html>
